body {
    margin: 0;
    padding: 20px;
    font-family: "montserrat", sans-serif;
    background-color: #f7f7f7;

} 

.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
